:host {
  $background-scale: 1024px;

  display: grid;
  place-items: center;

  padding: 2rem;
  min-height: 24em;
  font-size: 1vw;

  @media (min-width: 1100px) {
    font-size: 0.8vw;
  }

  &::after,
  .album-background {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
  }

  &::after {
    content: "";
    background: radial-gradient(transparent, var(--mode)),
      linear-gradient(to bottom, transparent 70%, var(--white-translucent)),
      linear-gradient(
        to bottom,
        transparent 40%,
        var(--white-translucent-heavy)
      );
    height: 100%;
  }

  .controls-with-cover {
    display: flex;
    align-items: center;
  }

  .track-control {
    position: relative;
    z-index: 1;

    display: grid;
    place-content: center;

    width: 32px;
    height: 32px;

    background-color: var(--black-translucent);
    cursor: pointer;
  }

  .album-background {
    $blur: 70px;

    position: absolute;
    object-fit: cover;

    filter: blur($blur) brightness(1.4);

    @media (prefers-color-scheme: dark) {
      filter: blur($blur) brightness(0.3);
    }

    height: $background-scale;
    max-height: 100%;
  }

  .waveform-canvas {
    position: absolute;

    top: calc(4.5em / 2);
    left: 0;
    width: 100%;

    pointer-events: none;
    mix-blend-mode: screen;
    opacity: 0.3;
  }

  .track-album-image {
    $size: 12em;
    $shadow-color: rgba(black, 0.5);

    position: relative;
    z-index: 1;

    margin: 1rem;

    width: $size;
    height: $size;

    border-radius: 1000px;
    overflow: hidden;

    background-color: var(--mode);
    box-shadow: 0 0 1.2rem $shadow-color, 0 0 0.2rem -0.1rem $shadow-color;

    img {
      object-fit: cover;
    }
  }

  .track-title {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 3em;
    font-weight: 300;

    @media (max-width: 700px) {
      font-size: 24px;
    }

    .muted {
      opacity: 0.4;
    }

    small {
      font-size: 60%;
      margin-top: 1ch;
    }
  }
}
